@import "./gotham.css"

[class*='icon-']:before{
  display: inline-block;
   font-family: 'cafe';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.icon-cup:before{content:'\0041';}
